<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>binhpd.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertTourDetailsController</servlet-name>
        <servlet-class>binhpd.controllers.admin.InsertTourDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertTourJourneyController</servlet-name>
        <servlet-class>binhpd.controllers.admin.InsertTourJourneyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertUserController</servlet-name>
        <servlet-class>binhpd.controllers.InsertUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>binhpd.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonalInfoController</servlet-name>
        <servlet-class>binhpd.controllers.PersonalInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePersonalInfoController</servlet-name>
        <servlet-class>binhpd.controllers.UpdatePersonalInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePasswordController</servlet-name>
        <servlet-class>binhpd.controllers.UpdatePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>binhpd.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchTourController</servlet-name>
        <servlet-class>binhpd.controllers.SearchTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTourDetailsController</servlet-name>
        <servlet-class>binhpd.controllers.ViewTourDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageTourController</servlet-name>
        <servlet-class>binhpd.controllers.admin.ManageTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTourDetailsController</servlet-name>
        <servlet-class>binhpd.controllers.admin.EditTourDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewShoppingCartController</servlet-name>
        <servlet-class>binhpd.controllers.cart.ViewShoppingCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateTourDetailsController</servlet-name>
        <servlet-class>binhpd.controllers.admin.ValidateTourDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateTourJourneyController</servlet-name>
        <servlet-class>binhpd.controllers.admin.ValidateTourJourneyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTourJourneyController</servlet-name>
        <servlet-class>binhpd.controllers.admin.EditTourJourneyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTourDetailsController</servlet-name>
        <servlet-class>binhpd.controllers.admin.UpdateTourDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTourJourneyController</servlet-name>
        <servlet-class>binhpd.controllers.admin.UpdateTourJourneyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTourDetailsController</servlet-name>
        <servlet-class>binhpd.controllers.admin.DeleteTourDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateSearchTourController</servlet-name>
        <servlet-class>binhpd.controllers.ValidateSearchTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>binhpd.controllers.cart.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartController</servlet-name>
        <servlet-class>binhpd.controllers.cart.UpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCartController</servlet-name>
        <servlet-class>binhpd.controllers.cart.RemoveFromCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>binhpd.controllers.cart.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmCartController</servlet-name>
        <servlet-class>binhpd.controllers.cart.ConfirmCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderController</servlet-name>
        <servlet-class>binhpd.controllers.ViewOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrderController</servlet-name>
        <servlet-class>binhpd.controllers.CancelOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageOrderController</servlet-name>
        <servlet-class>binhpd.controllers.admin.ManageOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveOrderController</servlet-name>
        <servlet-class>binhpd.controllers.admin.ApproveOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchTourPagingController</servlet-name>
        <servlet-class>binhpd.controllers.SearchTourPagingController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertTourDetailsController</servlet-name>
        <url-pattern>/InsertTourDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertTourJourneyController</servlet-name>
        <url-pattern>/InsertTourJourneyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertUserController</servlet-name>
        <url-pattern>/InsertUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonalInfoController</servlet-name>
        <url-pattern>/PersonalInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePersonalInfoController</servlet-name>
        <url-pattern>/UpdatePersonalInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePasswordController</servlet-name>
        <url-pattern>/UpdatePasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchTourController</servlet-name>
        <url-pattern>/SearchTourController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTourDetailsController</servlet-name>
        <url-pattern>/ViewTourDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageTourController</servlet-name>
        <url-pattern>/ManageTourController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTourDetailsController</servlet-name>
        <url-pattern>/EditTourDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewShoppingCartController</servlet-name>
        <url-pattern>/ViewShoppingCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateTourDetailsController</servlet-name>
        <url-pattern>/ValidateTourDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateTourJourneyController</servlet-name>
        <url-pattern>/ValidateTourJourneyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTourJourneyController</servlet-name>
        <url-pattern>/EditTourJourneyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTourDetailsController</servlet-name>
        <url-pattern>/UpdateTourDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTourJourneyController</servlet-name>
        <url-pattern>/UpdateTourJourneyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTourDetailsController</servlet-name>
        <url-pattern>/DeleteTourDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateSearchTourController</servlet-name>
        <url-pattern>/ValidateSearchTourController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartController</servlet-name>
        <url-pattern>/UpdateCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCartController</servlet-name>
        <url-pattern>/RemoveFromCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/CartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmCartController</servlet-name>
        <url-pattern>/ConfirmCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderController</servlet-name>
        <url-pattern>/ViewOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrderController</servlet-name>
        <url-pattern>/CancelOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageOrderController</servlet-name>
        <url-pattern>/ManageOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveOrderController</servlet-name>
        <url-pattern>/ApproveOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchTourPagingController</servlet-name>
        <url-pattern>/SearchTourPagingController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
